- content_for :plan_title do
  Plans

%table.table.table-striped
  %thead
    %tr
      %th StartedAt
      %th FinishedAt
      %th Actual/Expect
      %th Notes
      %th
  %tbody
    - @plans.each do |plan|
      %tr
        %td= plan.started_at.to_date.to_formatted_s(:short)
        %td= plan.finished_at.to_date.to_formatted_s(:short)
        %td= "#{plan.actual || ' - '}/#{plan.expect}"
        %td= plan.notes
        %td
          %span.show
            <i class="icon-info-sign"></i>
            = link_to 'Show', plan
            %br
          %span.edit
            <i class="icon-pencil"></i>
            = link_to 'Edit', edit_plan_path(plan)
            %br
          %span.destroy
            <i class="icon-remove"></i>
            = link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' }

